@ -0,0 +1,37 @@
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Docker
.Dockerignore
docker-compose*.yml

# Проект
media/
postgres_data/
*.db
*.sqlite3

# Логи
*.log

# OS
.DS_Store
Thumbs.db